<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.demo.mapper.DepartmentMapper">

    <select id="findByRoleIds" resultType="com.admin.demo.entity.Department">
        select d.* from department d,roles_depts rd where  rd.dept_Id=d.id AND rd.role_id= #{id}
    </select>

    <select id="findByPid" resultType="com.admin.demo.entity.Department">
            select * from department where pid =#{id}
    </select>

    <select id="query"  resultType="com.admin.demo.entity.Department" parameterType="com.admin.demo.entity.QueryVo">
        select * from department
            <where>
        <if test="keywords !=null">
            name LIKE concat('%',#{keywords},'%')
        </if>
                <if test="state !=null and state !='' and state=='open' ">
                    and enabled = #{enabled}
                </if>
            </where>
    </select>

    <select id="check"  resultType="Integer">
        select count(*) from department where name =#{name} and pid = #{pid}
        <if test="id!=null">
            and id !=#{id}
        </if>
    </select>

    <insert id="addDept" useGeneratedKeys="true" keyProperty="id">
        insert into department(name,enabled,pid,create_time)values (#{name},#{enabled},#{pid},now())
    </insert>

    <delete id="delDept">
        delete from department where id = #{id}
    </delete>

    <delete id="delRoleDept">
        delete from roles_depts where dept_id = #{id}
    </delete>

    <select id="checkRelated" resultType="Integer">
        SELECT COUNT(*) FROM user u,position p WHERE u.deptId=#{id}  OR p.deptId=#{id}
    </select>

    <update id="updateDept" parameterType="com.admin.demo.entity.Department">
        update department
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="enabled != null ">
                 enabled = #{enabled},
            </if>
            <if test="pid != null">
                pid = #{pid}
            </if>
        </set>
        where id =#{id}
    </update>
<select id="findById" resultType="com.admin.demo.entity.Department">
    SELECT * FROM department WHERE id =#{id}
</select>
</mapper>