<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.demo.mapper.LogMapper">
    <insert id="save" parameterType="com.admin.demo.entity.Log">
        insert into
            log (create_time,username,description,exception_detail,log_type,method,params,request_ip,address,time)
            values
              (now(),#{username},#{description},#{exceptionDetail},#{logType},#{method},#{params},#{requestIp},#{address},#{time})
    </insert>

    <select id="getLogs" resultType="com.admin.demo.entity.Log">
    select  id,create_time,time,username,description,log_type,method,params,request_ip,address from log where log_type = #{logType} and description LIKE concat('%',#{keywords},'%') order by create_time desc
   limit #{start},#{size}

</select>
    <select id="getLogsCount" resultType="Integer">
        select  count(*) from log where log_type = #{logType} and description LIKE concat('%',#{keywords},'%')
    </select>

    <select id="getErrorDetail" resultType="string">
        select exception_detail from log where id = #{id}
    </select>


    <select id="getUserLogs" resultType="com.admin.demo.entity.Log">
        select create_time,description,log_type,request_ip,address,time from log where username = #{username} order by create_time desc
        limit #{start},#{size}
    </select>

    <select id="getUserLogsCount" resultType="Integer">
        select count(*) from log where username = #{username}
    </select>

    <select id="findIp" resultType="Long">
        select count(*) from (select request_ip from log where create_time between #{date1} and #{date2} group by request_ip) as s
    </select>
</mapper>